.bioImg {
  height: 15em;
  width: 15em;
  border-radius: 12px;
}

.about-header {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  margin-top: 15rem;
}

.about-section {
  display: flex;
  padding: 0 3rem;
}

.about-section img{
  order: 1
}

.about-section p{
  line-height: 2;
  font-weight: bold;
  margin-right: 1rem;
  margin-bottom: 5rem;
}


@media screen and (max-width: 600px){
    .about-section {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .about-section img {
      order: 0
    }
}

