.bioImg {
  height: 15em;
  width: 15em;
  border-radius: 12px;
}

.about-header {
  text-align: center;
}

.about-section {
  display: flex;
  padding: 5rem;
}

.about-section img{
  order: 1
}

.about-section p{
  line-height: 2;
  font-weight: bold;
  margin-right: 1rem;
}


@media screen and (min-width: 800px){
  .about {
    width: 40%;
    margin: 1rem auto;
  }
}

@media screen and (min-width: 1000px) {
  .about {
    width: 30%;
  }
}