#case-study-main {
    margin-top: 10rem;
    text-align: center;
    padding: 1rem;
}

h1 {
    font-family: 'Oswald', sans-serif;
}

#case-study-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid black;
  border-radius: 8px;
  background-color: #d4be9f;
  margin: 10rem 3rem;
}

img {
    max-height: 350px;
}

.imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.top {
  grid-column: span 2;
}

.imgs img {
  width: 100%;
  height: auto;
  display: block;
}
.case-study-overview {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.case-study-process {
    display: flex;
    padding: 1rem;
    flex-direction: column;
}

.case-study-process-inner {
    display: flex;
    flex-direction: column;
}

@media (max-width: 900px) {
    img {
        max-width: 100%;
    }

    .case-study-overview {
        flex-direction: column;
    }

    .case-study-process-inner {
        flex-direction: column;
    }
}
