form {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 1.5rem;
}

input {
  height: 2rem;
  outline: none;
  border-radius: 4px;
}

textarea {
  height: 4rem;
  outline: none;
}

input:focus,
textarea:focus {
  box-shadow: 1px 1px 5px rgb(248, 49, 212);
  border-radius: 4px;
}

button {
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(248, 49, 212, 0.6) 100%
  );
  border: none;
  border-radius: 2px;
  transition: .5s;
  margin-bottom: 2rem;
}

button:hover {
  box-shadow: 1px 1px 5px white;
  transform: ease-in-out;
  cursor: pointer;
}
