.typewriter h1{
    overflow: hidden;
    border-right: .10em solid rgb(0, 0, 0); 
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: .15em; 
    font-size: 2rem;
    max-width: fit-content;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 90% }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 0, 0); }
  }


  .subtitle {
    margin-top: 1rem;
    font-weight: bold;
  }

  .arrow {
    box-sizing: border-box;
    height: 5vw;
    width: 5vw;
    border-style: solid;
    border-color: black;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
    position: absolute;
    bottom: 5rem;
  }


  .header {
    top: -5rem;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
  }

  @media screen and (max-width: 500px){
      .typewriter h1 {
        font-size: 1.5rem;
        
      }
  }