.navbar {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: 1s;
}


.filled {
  background-color: black;
  color: white;
}

.filled ul li a{
  color: white;
}

.filled ul li a:hover{
  text-shadow: -2px 2px orange;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar a {
  text-decoration: none;
  color: black;
  transition: 1s;
}

.navbar a:hover {
  text-shadow: 1px 1px gray;
}

.active {
  position: relative;
}

.active::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 95%;
  content: "";
  border: 3px solid #dadada;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}

.footer a {
  color: black;
  margin-top: 1px;
  font-size: 2rem;
}

.footer a:hover {
  color: orange;
}

@media screen and (min-width: 800px) {
  .navbar {
    flex-direction: row;
  }
}
