.navbar {
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: 1s;
}

.mobile-navbar-menu {
  position: fixed;
  top: 3rem;
  list-style-type: none;
  width: 100%;
  padding: 0;
  line-height: 2;
  text-align: center;
  padding-bottom: 1rem;
  z-index: 1000;
  transition: .5s;
}

.mobile-navbar-menu a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}



.hamburger {
  display: block;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.5rem;
}

.hamburger:hover {
  text-shadow: 2px 2px orange;
}

.filled {
  background-color: black;
  color: white;
}

.filled ul li a, .filled a{
  color: white;
}

.filled li a:hover{
  text-shadow: -2px 2px orange;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar a {
  text-decoration: none;
  color: black;
  transition: 1s;
  display: none;
}

.navbar a:hover {
  text-shadow: 1px 1px gray;
}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}

.footer a {
  color: black;
  margin-top: 1px;
  font-size: 2rem;
}

.footer a:hover {
  color: orange;
}

@media screen and (min-width: 800px) {

  .hamburger {
    display: none;

  }
  
  .navbar a {
    display: block;
  }

  .mobile-navbar-menu {
    display: none;
  }
}
