a {
  text-decoration: none;
  color: white;
}

.highlight {
  text-shadow: 1px 1px 10px rgb(248, 49, 212);
}

.skill-list {
  margin: 0;
  padding: 0;
}

.skill-container {
  align-items: flex-start;
  min-width: 55%;
  max-width: 55%;
  padding: 1.5rem;
  margin: auto;
  margin-bottom: 1rem;
}

.skill-list-item {
  list-style-type: none;
  font-weight: bold;
  line-height: 1.5rem;
}

h2 {
  margin-top: 0;
}