.tech {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
}

.tech-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.tech-item {
    font-size: 3rem;
    margin: 1rem;
    animation: fadeIn 5s;
}

.tech h3 {
    text-align: center;
}

.resume-link {
    color: black;
}

.resume-link:hover {
    font-style: italic;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@media screen and (max-width: 500px){
    .tech-list i {
       font-size: 1.3rem;
    }
}