body {
  background-color: #27252B;
  color: #dadada;
}

.navbar {
  background-color: #6E58C4;
  display: flex;
  justify-content: center;
  padding: .5rem 1rem;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.active {
  position: relative;
}

.active::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  width: 95%;
  content: "";
  border: 3px solid #DADADA;
}
