body {
  background: url(https://media0.giphy.com/media/TxVVB6PfWMjE4/giphy.gif?cid=ecf05e47sy0du4npr4s0q0sjmuymjqhxybxzhzp2tw56w8ur&rid=giphy.gif&ct=g);
  background-color: #19181c;
  color: #dadada;
  font-family: "Montserrat", sans-serif;
}

.container {
  background-color: #100f12;
  margin: 2rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 1.5rem;
  border: 1px solid rgb(248, 49, 212);
  border-radius: 12px;
  box-shadow: 1px 1px 10px rgb(248, 49, 212);
  min-width: 75%;
  max-width: 95%;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.column {
  flex-direction: column!important;
}
